html{
    background-color: rgba(255, 164, 0, 1);
}

.titulo{
    margin: 2vw 4vw;
    align-items: center;
    color: #fff;
    font-size: 2vw;
}


:root {
--gutter: 20px;
}

.app {
padding: var(--gutter) 0;
display: grid;
grid-gap: var(--gutter) 0;
/* grid-template-columns: var(--gutter) 1fr var(--gutter);  */
align-content: start;
}


.hs {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    
    overflow-x: scroll; 
    /* scroll-snap-type: x proximity; */
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter)); 
    
}

/* Demo styles */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


h2,
h3 {
    margin: auto;
}

.app {
    width: 80%;
    height: 30%;
    background: rgb(26, 233, 161);
    overflow-y: scroll;
    margin: 2vw auto;

}

.hs > li,
.item {
    scroll-snap-align: center;
    /* padding: calc(var(--gutter) / 1 ); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 2px solid black;
    border-radius: 8px;
    height: 9vw;
    width: 80%;
    margin: 1vw auto;
    
}