html{
    background-color: rgba(255, 164, 0, 1);
}

.titulo{
    margin: 2vw 4vw;
    align-items: flex-start;
    color: #fff;
    font-size: 2vw;
}


:root {
--gutter: 20px;
}

.app {
    padding: 10px;
    display: grid;
    grid-gap: var(--gutter) 0;
    border: 2px solid black;
    /* grid-template-columns: var(--gutter) 1fr var(--gutter);  */
    align-content: start;
    width: 80%;
    height: 75%;
    background: rgb(235, 192, 75);
    /* overflow-y: scroll; */
    margin: 2vw auto;
    overflow-x: auto;
}


.hs {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    overflow-x: auto; 
    /* scroll-snap-type: x proximity; */
    padding-bottom: calc(.75 * var(--gutter));
    background-color: aquamarine;
    width: 2000px;
    align-items: center;
    margin: auto;
}

h2{
    margin-left: 2vw;
}

.item {
    /* scroll-snap-align: center; */
    /* padding: 2px;  */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background: #fff;
    border: 2px solid black;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    margin: 1vw 5px;
    
}

.tituloPos{
    margin: 2px auto ;
    padding: inherit;
    color: darkblue;
    background: rgb(247, 95, 39);
}
.listaProduc{
    margin-left: 2px;
    padding-left: 25px;
}